/************************** 
            NAV
***************************/
nav {
  width: 90%;
  height: 60px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acn-logo {
  font-size: 26px;
  font-weight: 700;
  color: #1dd1a1;
}

.acn-list {
  list-style: none;
  font-size: 22px;
  text-transform: lowercase;
  font-weight: 700;
  /* letter-spacing: 3px; */
  display: flex;
}

.acn-link {
  display: inline-block;
  padding: 10px;
  color: #2d3436;
  opacity: 1;
  position: relative;
  margin: 0 15px;
}

.acn-link::after {
  content: "";
  position: absolute;
  background-color: #1dd1a1;
  height: 2px;
  bottom: 2px;
  width: 0;
  transition: 0.3s;
}

.acn-link:hover {
  color: #1dd1a1;
}

.acn-link:hover:after {
  background-color: #223333;
  width: 80%;
}

/**************************
            MAIN
***************************/
main {
  width: 90%;
  margin: 0 auto;
  min-height: calc(100vh - 233px);
}

/**************************
            HOME
***************************/
.acn-home {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.acn-home h1 {
  font-size: 32px;
  text-align: center;
  line-height: 42px;
  margin-top: 2rem;
}
.acn-home h1 span {
  border-bottom: 2px solid #1dd1a1;
  opacity: 1;
}

.acn-home h1 span:hover {
  color: #1dd1a1;
  transition: color 0.1s;
}

.acn-home h1 span:hover {
  border-bottom: 2px solid #223333;
  transition: border 0.3s;
}
.acn-home p {
  width: 80%;
  text-align: justify;
  line-height: 32px;
  padding: 20px 0;
}

.acn-home img {
  width: 30%;
}

/**************************
        MOBILE
***************************/

@media (max-width: 991.98px) {
  .acn-home {
    width: 100%;
    height: auto;
  }
  .acn-home img {
    width: 60%;
  }
  .acn-home p {
    width: 80%;
    text-align: justify;
    line-height: 28px;
  }
}

@media (max-width: 767.98px) {
  .acn-home {
    width: 100%;
    height: auto;
  }
  .acn-home img {
    width: 60%;
  }
  .acn-home p {
    width: 80%;
    text-align: justify;
    line-height: 28px;
  }
}

@media (max-width: 575.98px) {
  .acn-home {
    width: 100%;
    height: auto;
  }
  .acn-home h1 {
    font-size: 26px;
    text-align: center;
    line-height: 42px;
    margin-top: 2rem;
  }
  .acn-home img {
    width: 80%;
  }
  .acn-home p {
    font-size: 16px;
    width: 90%;
    text-align: justify;
    line-height: 32px;
    margin: 2rem 0;
  }
}
