.acn-saibamais {
  width: 100%;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.acn-saibamais h1 {
  font-size: 42px;
  color: #1dd1a1;
}

.acn-saibamais p {
  font-size: 24px;
  text-align: justify;
}

.acn-saibamais ol {
  width: 40%;
  height: 60%;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.acn-saibamais ol a :hover {
  color: #1dd1a1;
  transition: 0.3s;
}

.acn-saibamais ol li {
  font-size: 24px;
  padding: 10px;
  color: #223333;
  padding: 20px;
}

/**************************
        MOBILE
***************************/

@media (max-width: 992.92px) {
  .acn-saibamais {
    height: 100%;
  }
  .acn-saibamais {
    height: 100%;
    width: 100%;
  }
  .acn-saibamais ol {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }
}

@media (max-width: 575.98px) {
  .acn-saibamais {
    height: 100%;
  }
  .acn-saibamais {
    height: 100%;
    width: 100%;
  }
  .acn-saibamais ol {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }
}
